//colors
$throbbing-dark-color: #280904;
$merlit-purple-color: #680e34;
$defenders-red-color: #9a151a;
$flower-lightred-color: #c21b12;
$bicycle-orange-color: #fc4b2a;

$white-color: #fff;
$grey-color: #333;



h1 {
    font-family: "neon";
    font-size: 65px;
}
h2 {
    font-family: "dancing-script";
}
h3 {
  font-family: "digital";
}
p {
    font-family: "segoe-ui";
    font-size: 18px;
}
ul {
    li {
        font-family: "segoe-ui";
    }
}

.router-link {
    text-decoration: none;
}

.starry {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 100px;
    z-index: 1;
}
.stock {
    color: $grey-color !important;
}
.headers {
    text-align: center;

    h1 {
      color: $white-color;
      text-shadow: #9a151a 1px 0 10px;
      padding: 100px 0px 100px 0px;
      margin: 0;
    }
  }
  .mirror {
    transform: scaleX(-1);
  }

  .visible,
  .invisible {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .visible {
    opacity: 1;
  }