//colors
$throbbing-dark-color: #280904;
$merlit-purple-color: #680e34;
$defenders-red-color: #9a151a;
$flower-lightred-color: #c21b12;
$bicycle-orange-color: #fc4b2a;

$white-color: #fff;
$grey-color: #333;


body {
    margin: 0px;
    padding: 0px;
}
h1 {
    font-family: "neon";
    font-size: 65px;
}
h2 {
    font-family: "dancing-script";
}
p {
    font-family: "segoe-ui";
    font-size: 18px;
}
ul {
    li {
        font-family: "segoe-ui";
    }
}

.router-link {
    text-decoration: none;
}

.starry {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 100px;
    z-index: 1;
}
.stock {
    color: $grey-color !important;
  }
.headers {
    text-align: center;

    h1 {
      color: $white-color;
      text-shadow: #9a151a 1px 0 10px;
      margin: 100px 0px 100px 0px;
    }
  }
  .pageTitle {
    h1 {
      color: $white-color;
      text-shadow: #9a151a 1px 0 10px;
      margin: 100px 0px 50px 0px;
    }
    .music-item-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: auto auto;
      width: 75%;
      flex-basis: 25%;
    }
  }
  .pageTitleBubble {
    border: 5px solid $white-color;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px #9a151a, 0px 0px 10px #9a151a;
    width: 120px;
    height: 120px;
    position: sticky;
    top: 50%;
    left: calc(100% - 150px);
    margin-top: -150px;

    h2 {
      color: $white-color;
      text-shadow: #9a151a 1px 0 10px;
      font-size: 40px;
    }
  }
  .visible,
  .invisible {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .visible {
    opacity: 1;
  }